<template>
  <div>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Check Your Inn</a>
      </div>
    </nav>
    <div class="container">
      <nuxt />
    </div>
  </div>
</template>
