<template>
  <div class="wrapper">
    <div class="row">
      <div class="col l10">
        <input v-model="inn_value" placeholder="Inn" type="text" name="inn" />
        <span v-if="error">{{ error }}</span>
      </div>
      <div class="col l2">
        <button class="waves-effect waves-light btn" @click="sendData">
          Check
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col l12">
        <ul class="collection center">
          <li v-for="inn in inn_list" :key="inn.id" class="collection-item">
            <span
              >{{ inn.value }} [{{ inn.inserted_at }}] :
              {{ inn.check_result ? "correct" : "incorrect" }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style>
.wrapper {
  padding: 5rem;
}
</style>
<script>
import { Socket } from "phoenix";
import axios from "axios";

export default {
  components: {},
  data() {
    return {
      channel: null,
      token: null,
      inn_list: [],
      inn_value: "",
      error: null
    };
  },
  async beforeMount() {
    await this.getToken();
    await this.joinChannel();
  },
  methods: {
    async getToken() {
      await axios
        .get("http://localhost:4000/auth/token")
        .then(response => (this.token = response.data.token));
    },
    joinChannel() {
      const socket = new Socket("ws://localhost:4000/socket", {
        params: { token: this.token }
      });
      socket.connect();

      this.channel = socket.channel(`inn:`, {});

      this.channel
        .join()
        .receive("ok", response => {
          console.log(response.inn_list);
          this.inn_list = response.inn_list;
        })
        .receive("error", reason => console.log("failed join", reason));

      this.channel.on(`inn:checked`, e => this.inn_list.unshift(e.inn));
    },
    sendData() {
      this.channel
        .push("inn:content", {
          inn_value: this.inn_value
        })
        .receive("ok", () => (this.error = null))
        .receive("error", ({ reason }) => (this.error = reason));
    }
  }
};
</script>
